body {
background-color:#393e46;
color:white;
}

.login_btn {
  background-color:#f8b500 !important;
  border:0em;
  border-color:#f8b500;
  color:white;
}

.modal-content{
  background-color:#393e46;
  color:white; 
}


.navbar-dark{
  background-color:#5c636e; 
  color:white; 
}

.header_logo{
  background-color:#f8b500 !important;
}

.sidebar-sticky{
  background-color:#5c636e;
  color:white; 
}

.card{
  background-color:#BDBDBD !important;
  border:0em;
  border-color:#BDBDBD;
  color:white;
}
