<!DOCTYPE html>
<html>
  <head>
    <title>Motiva</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag href="application", :media => "all" %>
    <!-- <%= csrf_meta_tags %> -->
    <!-- <%= csp_meta_tag %> -->
  </head>

  <body>
    <!-- わからん -->
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
      <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
  
    <!-- header -->
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Motiva</a>
    </nav>
    <%= yield %>

    </div>
</main>

